/*--------------------------------------------------------------
-- CV template --
--------------------------------------------------------------*/

.cv {
	margin: 75px 0;
}

.cv__links {
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include from(750) {
		justify-content: flex-start;
	}
}

.cv__link {
	padding: 12px 16px 11px;
	font-size: 12px;

	&.animation-delay {
		transition: $transition_duration $transition_duration;
	}

	&:last-child {
		margin-left: 20px;
	}
}

.cv__header {
	padding: 50px 35px;
	text-align: center;
	border-radius: $border_radius $border_radius 0 0;
	overflow: hidden;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} / 10);

		@include from(750) {
			&:after {
				transition: $transition_duration calc(#{$transition_duration} / 10);
			}
		}
	}

	&:not(.wait-for-animation) {
		background-color: $white;

		@include from(750) {
			background-color: $dark_color;

			&:after {
				background-color: $white;
			}
		}
	}

	@include from(750) {
		position: relative;
		padding: 50px 50px 0;
		text-align: left;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: calc(100% - 320px);
			height: 100%;
		}
	}

	@include from(850) {
		&:after {
			width: calc(100% - 400px);
		}
	}
}

.cv__heading {
	margin: 0;
	color: $theme_color;
	font-size: 30px;
	line-height: 1.1;
	text-transform: uppercase;
	font-weight: 800;
	position: relative;
	z-index: 1;
	letter-spacing: 2px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.2);
	}

	@include from(500) {
		font-size: 40px;
	}

	@include from(750) {
		font-size: 50px;
	}

	@include from(900) {
		font-size: 65px;
	}
}

.cv_innerContainer {
	border-radius: 0 0 $border_radius $border_radius;
	overflow: hidden;

	@include from(750) {
		display: flex;
	}
}

.cv__about {
	padding: 50px 35px;
	color: $light_content_color;
	text-align: center;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} / 10);
	}

	&:not(.wait-for-animation) {
		background-color: $dark_color;
	}

	@include from(750) {
		width: 320px;
		text-align: left;
		padding: 50px;
	}

	@include from(850) {
		width: 400px;
	}
}

.cv__imageContainer {
	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.2);
	}
}

.cv__image {
	margin: 0 auto 30px;
	width: 300px;

	@include from(750) {
		width: 100%;
		margin: 0 0 30px;
	}
}

.cv__name {
	margin: 0;
	color: $white;
	font-family: $heading_font_family;
	font-size: 30px;
	font-weight: 700;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.4);
	}
}

.cv__occupation {
	margin: 0 0 30px;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	padding-bottom: 30px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.6);
	}

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 15px;
		height: 2px;
		background-color: $theme_color;

		@include from(750) {
			left: 0;
			transform: none;
		}
	}
}

.cv__contact {
	margin: 0 0 30px;
	position: relative;
	padding-bottom: 30px;
	font-style: normal;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.6);
	}

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 15px;
		height: 2px;
		background-color: $theme_color;

		@include from(750) {
			left: 0;
			transform: none;
		}
	}
}

.cv__contactTel,
.cv__contactEmail,
.cv__contactPortfolio {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
	color: $sd_theme_color;

	&:hover {
		color: $white;
	}
}

.cv__contactTel--bold,
.cv__contactEmail--bold,
.cv__contactPortfolio--bold {
	color: $white;
	text-decoration: underline;
	font-weight: 400;
}

.cv__aboutHeading {
	color: $white;
	margin: 0 0 15px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.6);
	}
}

.cv__aboutContent {
	margin: 0 0 15px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.6);
	}
}

.cv__aboutContent--line {
	margin: 0 0 30px;
	position: relative;
	padding-bottom: 30px;

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 15px;
		height: 2px;
		background-color: $theme_color;

		@include from(750) {
			left: 0;
			transform: none;
		}
	}
}

.cv__experience {
	padding: 50px 35px 50px;
	width: 100%;
	text-align: center;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} / 10);
	}

	&:not(.wait-for-animation) {
		background-color: $white;
	}

	@include from(750) {
		width: calc(100% - 320px);
		padding: 50px 0 50px 50px;
		text-align: left;
	}

	@include from(850) {
		width: calc(100% - 400px);
	}
}

.cv__experienceHeading {
	background-color: #F5F5F5;
	padding: 8px 15px 7px;
	margin: 0 0 20px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 20px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.2);
	}
}

.cv__experienceList {
	@include from(750) {
		padding-right: 50px;
	}
}

.cv__experienceItem--line {
	margin: 0 0 20px;
	padding: 0 0 23px;
	border-bottom: 1px solid #ECECEC;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.4);
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}

.cv__experienceTitle {
	margin: 0;
	font-weight: 600;
	font-size: 22px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.6);
	}
}

.cv__experienceDate {
	color: $theme_color;
	font-size: 14px;
	margin: 8px 0;
	display: block;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.6);
	}
}

.cv__experienceDescription {
	margin: 0;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.6);
	}
}

.cv__experienceItem--skill {
	margin: 0 0 20px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.6);
	}

	&:before {
		content: '- ';
		color: $black;
	}
}
