/*--------------------------------------------------------------
-- Desktop nav --
--------------------------------------------------------------*/

.desktop-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.desktop-nav__identity {
	padding: 20px 0;
}

.desktop-nav__logo {
	margin: 0;
	font-weight: 600;
	color: $white;

	&.animation-delay {
		transition: $transition_duration $transition_duration;
	}
}

.desktop-nav__tagline {
	font-size: 12px;
	color: $light_content_color;
	margin: 0;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.5);
	}
}

.desktop-nav__nav {
	display: none;

	@include from(650) {
		display: block;
	}
}

.desktop-nav__list {
	display: flex;
	flex-wrap: wrap;
}

.desktop-nav__button {
	padding: 0;
	width: 24px;
	height: 24px;
	position: relative;
	background-color: transparent;

	@include from(650) {
		display: none;
	}

	&.is-hidden {
		transform: translateY(-100px);
		transition-delay: calc(#{$transition_duration} * 2);

		.desktop-nav__buttonIcon {
			transition-duration: inherit;
		}

		.desktop-nav__buttonIcon--top,
		.desktop-nav__buttonIcon--bottom {
			transform: translateY(-50%) rotate(45deg);
			margin-top: 0;
			transition-delay: calc(#{$transition_duration} / 2);
		}

		.desktop-nav__buttonIcon--bottom {
			transform: translateY(-50%) rotate(-45deg);
		}

		.desktop-nav__buttonIcon--middle {
			opacity: 0;
			margin-left: -20px;
		}
	}
}

.desktop-nav__buttonIcon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: block;
	height: 3px;
	opacity: 0;
	width: 0;
	background-color: $white;

	&:not(.wait-for-animation) {
		width: 100%;
		opacity: 1;
	}
}

.desktop-nav__buttonIcon--top {
	transition: $transition_duration $transition_duration;
}

.desktop-nav__buttonIcon--middle {
	transition: $transition_duration calc(#{$transition_duration} * 1.5);
}

.desktop-nav__buttonIcon--bottom {
	transition: $transition_duration calc(#{$transition_duration} * 2);
}

.desktop-nav__buttonIcon--top {
	margin-top: -7px;
}

.desktop-nav__buttonIcon--bottom {
	margin-top: 7px;
}

.desktop-nav__item {
	@for $i from 1 through 5 {
		&.animation-delay {
			&:nth-child(#{$i}) {
				transition: $transition_duration calc(#{$transition_duration} * #{$i} / 2);
			}
		}
	}
}

.desktop-nav__item:last-child .desktop-nav__link {
	padding-right: 0;

	&:after {
		display: none;
	}
}

.desktop-nav__link {
	color: #A9A9A9;
	margin: 0 14px;
	font-family: $heading_font_family;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 1px;
		background-color: $sd_theme_color;
		transition-duration: $transition_duration;
	}

	&:hover {
		color: $white;
	}

	&.is-active {
		color: $white;

		&:before {
			width: 100%;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: -14px;
		transform: translateY(-50%);
		height: 8px;
		width: 1px;
		background-color: rgba($white, 0.15);
	}
}
