/*--------------------------------------------------------------
-- Mobile nav --
--------------------------------------------------------------*/

.mobile-nav {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: $dark_color;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition-duration: $transition_duration;
	padding: 0 50px 50px;

	&.is-active {
		visibility: visible;
		opacity: 1;
		left: 0;
	}
}

.mobile-nav__container {
	overflow-y: scroll;
	height: 100%;
	padding-top: 50px;
}

.mobile-nav__nav {
	margin-top: 34px;
}

.mobile-nav__button {
	padding: 0;
	width: 24px;
	height: 24px;
	position: relative;
	background-color: transparent;

	&.is-hidden {
		transform: translateY(-300px);
		transition-delay: calc(#{$transition_duration} * 2);

		.mobile-nav__buttonIcon--top {
			margin-top: -7px;
		}

		.mobile-nav__buttonIcon--bottom {
			margin-top: 7px;
		}

		.mobile-nav__buttonIcon {
			transition-duration: inherit;
		}

		.mobile-nav__buttonIcon--top,
		.mobile-nav__buttonIcon--bottom {
			transform: translateY(-50%);
		}

		.mobile-nav__buttonIcon--middle {
			opacity: 1;
			margin-left: 0;
			transition-delay: calc(#{$transition_duration} / 2);
		}
	}
}

.mobile-nav__buttonIcon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: block;
	height: 3px;
	width: 100%;
	background-color: $white;
}

.mobile-nav__buttonIcon--top {
	transform: translateY(-50%) rotate(45deg);
}

.mobile-nav__buttonIcon--middle {
	opacity: 0;
	margin-left: -20px;
}

.mobile-nav__buttonIcon--bottom {
	transform: translateY(-50%) rotate(-45deg);
}

.mobile-nav__item:first-child .mobile-nav__link {
	padding-top: 0;
}

.mobile-nav__item:last-child .mobile-nav__link {
	border-bottom: none;
	padding-bottom: 0;
}

.mobile-nav__link {
	color: #A9A9A9;
	display: block;
	padding: 15px 0;
	font-family: $heading_font_family;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 19px;
	border-bottom: 1px solid lighten($dark_color, 10%);

	&:hover {
		color: $white;
	}

	&.is-active {
		color: $white;
	}
}
