/*--------------------------------------------------------------
-- Accessibility --
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: #f1f1f1;
		border-radius: $border_radius;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto;
		clip-path: none;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
}

body:not(.user-is-tabbing) * {
	outline: none;
}

body.user-is-tabbing *:focus {
	outline: 2px solid lighten($accessibility, 20%);
	transition-duration: 0s;
	border-radius: 0;
	background: $accessibility;
	color: $white;

	&::placeholder {
		color: $white;
	}

	&::-webkit-input-placeholder {
		color: $white;
	}

	&:-ms-input-placeholder {
		color: $white;
	}
}
