/*--------------------------------------------------------------
-- Footer --
--------------------------------------------------------------*/

.main-footer {
	padding: 20px 0;
	font-size: 14px;
	background-color: $white;
	overflow-x: hidden;
}

.main-footer__container {
	text-align: center;

	@include from(700) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-footer__copyright {
	margin-bottom: 10px;

	&.animation-delay {
		transition: $transition_duration $transition_duration;
	}

	@include from(700) {
		margin-bottom: 0;
	}
}

.main-footer__contact {
	margin: 0;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 2);
	}
}

.main-footer__contactTel,
.main-footer__contactEmail {
	text-decoration: underline;
	display: inline-block;
	color: $dark_color;
	font-style: normal;

	&:hover {
		color: $black;
	}
}

.main-footer__contactTel {
	display: block;

	@include from(400) {
		position: relative;
		display: inline-block;
		margin: 0 38px 0 15px;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: -20px;
			transform: translateY(-50%);
			height: 8px;
			width: 1px;
			background-color: rgba($black, 0.30);
		}
	}
}

.main-footer__contactTel--bold,
.main-footer__contactEmail--bold {
	font-weight: 600;
}
