/*--------------------------------------------------------------
-- General --
--------------------------------------------------------------*/

body.page-template-cv {
	background: linear-gradient(145deg, lighten($dark_color, 15%), darken($dark_color, 5%), lighten($dark_color, 15%));
}

.site-container {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

.site-container.no-scroll {
	overflow-y: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
}
