/*--------------------------------------------------------------
-- Global styles --
--------------------------------------------------------------*/

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.button,
.sd_button {
	background-color: $button_background;
	color: $button_color;
	border-radius: $border_radius;
	padding: 15px 20px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;

	&:hover {
		background-color: $button_background_hover;
		color: $button_color_hover;
	}
}

.sd_button {
	background-color: $sd_button_background;
	color: $sd_button_color;

	&:hover {
		background-color: $sd_button_background_hover;
		color: $sd_button_color_hover;
	}
}

.wait-for-animation {
	opacity: 0;
}

.wait-for-animation-top {
	transform: translateY(-30px);
}

.wait-for-animation-bottom {
	transform: translateY(30px);
}

.wait-for-animation-left {
	transform: translateX(-30px);
}

.wait-for-animation-right {
	transform: translateX(30px);
}
