/*--------------------------------------------------------------
-- Header --
--------------------------------------------------------------*/

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	background-color: rgba($dark_color, 0.95);
}
