/*--------------------------------------------------------------
-- Mixins --
--------------------------------------------------------------*/

@mixin from( $width ) {
	@media ( min-width: $width + px ) {
		@content;
	}
}

@mixin section_padding() {
	padding: 75px 0;

	@include from(850) {
		padding: 100px 0;
	}

	@include from(950) {
		padding: 150px 0;
	}
}

@mixin pseudo_animated_line() {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		border-bottom: 1px solid darken($white, 5%);
		transition: calc(#{$transition_duration} * 5) calc(#{$transition_duration} * 2);
	}

	&:not(.wait-for-animation):after {
		width: 100%;
	}
}

@mixin front_page_section_header() {
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-align: center;
	@include pseudo_animated_line;

	&:after {
		top: 100%;
	}

	@include from(750) {
		text-align: left;
	}
}

@mixin front_page_section_heading() {
	margin: 0;
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
	position: relative;
	transition: $transition_duration $transition_duration;

	@include from(850) {
		font-size: 40px;
		margin-bottom: -5px;
	}

	@include from(950) {
		font-size: 48px;
		margin-bottom: -8px;
	}	
}

@mixin front_page_section_heading_dot() {
	color: $theme_color;
	transition: $transition_duration calc(#{$transition_duration} * 3);
}

@mixin front_page_section_subheading() {
	margin: -5px 0 -8px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	transition: $transition_duration calc(#{$transition_duration} * 2);

	@include from(850) {
		font-size: 14px;
	}
}
