/*--------------------------------------------------------------
-- Variables --
--------------------------------------------------------------*/

$heading_font_family: 'Open Sans', sans-serif;
$content_font_family: 'Raleway', sans-serif;

$theme_color: #d7383c;
$sd_theme_color: #fbddb8;

$content_color: #6C6C6C;
$light_content_color: #C3C3C3;
$heading_color: #1D1D1D;
$dark_color: #141414;
$white: #fff;
$black: #000;
$accessibility: #0E556F;

$link_color: $theme_color;
$link_color_hover: darken($link_color, 10%);

$button_background: $theme_color;
$button_background_hover: darken($button_background, 10%);
$button_color: $white;
$button_color_hover: $white;

$sd_button_background: $sd_theme_color;
$sd_button_background_hover: darken($sd_button_background, 10%);
$sd_button_color: $black;
$sd_button_color_hover: $black;

$transition-duration: 0.5s;

$border_radius: 3px;
