/*--------------------------------------------------------------
-- Fonts for content --
--------------------------------------------------------------*/

/* raleway-regular - latin_latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/raleway-v14-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
	src: local('Raleway'), local('Raleway-Regular'),
			 url('fonts/raleway-v14-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('fonts/raleway-v14-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('fonts/raleway-v14-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
			 url('fonts/raleway-v14-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('fonts/raleway-v14-latin_latin-ext-regular.svg#Raleway') format('svg'); /* Legacy iOS */
	font-display: swap;
}

/* raleway-600 - latin_latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/raleway-v14-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
			 url('fonts/raleway-v14-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('fonts/raleway-v14-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
			 url('fonts/raleway-v14-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
			 url('fonts/raleway-v14-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('fonts/raleway-v14-latin_latin-ext-600.svg#Raleway') format('svg'); /* Legacy iOS */
	font-display: swap;
}