/*--------------------------------------------------------------
-- Front page about --
--------------------------------------------------------------*/

.front-page-about {
	@include section_padding;
	background: linear-gradient(145deg, lighten($dark_color, 5%), darken($dark_color, 10%));
}

.front-page-about__header {
	@include front_page_section_header;

	&:after {
		border-bottom: 1px solid lighten($dark_color, 10%);
	}
}

.front-page-about__heading {
	@include front_page_section_heading;
	color: $white;
}

.front-page-about__headingDot {
	@include front_page_section_heading_dot;
}

.front-page-about__subheading {
	@include front_page_section_subheading;
}

.front-page-about__contentContainer {
	text-align: center;

	@include from(650) {
		display: flex;
		justify-content: space-between;
		text-align: left;
	}
}

.front-page-about__contentInnerContainer {
	@include from(650) {
		width: 48%;
	}
}

.front-page-about__title {
	color: $white;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 2);
	}
}

.front-page-about__content {
	color: #DFDFDF;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 2.5);
	}
}

.front-page-about__cv {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 3);
	}

	@include from(750) {
		justify-content: flex-start;
	}
}

.front-page-about__cvLink:last-child {
	margin-left: 20px;
}
