/*--------------------------------------------------------------
-- Front page contact --
--------------------------------------------------------------*/

.front-page-contact {
	@include section_padding;
	background: linear-gradient(-145deg, darken($theme_color, 8%), darken($theme_color, 15%));
}

.front-page-contact__header {
	@include front_page_section_header;

	&:after {
		border-bottom: 1px solid darken($theme_color, 5%);
	}
}

.front-page-contact__heading {
	@include front_page_section_heading;
	color: $white;
}

.front-page-contact__headingDot {
	@include front_page_section_heading_dot;
	color: $black;
}

.front-page-contact__subheading {
	@include front_page_section_subheading;
	color: $sd_theme_color;
}

.front-page-contact__form {
	.wpcf7-form {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 20px;
		width: 100%;
	}

	.wpcf7-form-control-wrap input,
	.wpcf7-form-control-wrap textarea {
		border: none;
		display: block;
	}

	.wpcf7-form-controls-wraper {
		width: 100%;

		@include from(600) {
			display: flex;
			justify-content: space-between;

			.wpcf7-form-controls-single-wraper {
				width: calc(50% - 10px);
			}
		}

		@include from(1000) {
			width: calc(50% - 10px);
		}
	}

	.wpcf7-form-controls-single-wraper {
		&.animation-delay {
			@for $i from 1 through 2 {
				&:nth-child(#{$i}) {
					transition: $transition_duration calc(#{$transition_duration} * #{$i} / 2);
				}
			}
		}
	}

	.wpcf7-form-controls-textarea-wraper {
		width: 100%;

		&.animation-delay {
			transition: $transition_duration calc(#{$transition_duration} * 2 );
		}
	}

	.wpcf7-submit {
		display: block;
		margin: 0 auto;
		width: 100%;
		padding: 18px 20px 17px;

		&.animation-delay {
			transition: $transition_duration calc(#{$transition_duration} * 2.5 );
		}

		@include from(750) {
			margin: 0;
			width: auto;
		}
	}

	.wpcf7 .ajax-loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
    background-image: url();
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
	}

	.wpcf7-not-valid-tip {
		font-size: 14px;
		color: $white;
		text-decoration: underline;
		font-weight: 400;
	}

	.wpcf7-validation-errors,
	.wpcf7-mail-sent-ok {
		border: 1px solid $white;
		color: $white;
		text-decoration: underline;
		margin: 20px 0 0;
		padding: 12px;
		border-radius: $border_radius;
		font-size: 14px;
		text-align: center;
		width: 100%;
	}

	.wpcf7-mail-sent-ok {
		background-color: #4b793c;
		color: $white;
		border: none;
	}
}
