/*--------------------------------------------------------------
-- Front page hero --
--------------------------------------------------------------*/

.front-page-hero {
	position: relative;
	padding: 170px 0 65px;

	@include from(850) {
		padding: 250px 0 100px;
	}

	@include from(950) {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 250px 0 100px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(-145deg, $dark_color, lighten($dark_color, 5%), darken($dark_color, 5%));
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.front-page-hero__img {
	width: 1600px;
	min-width: 1600px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	transition-duration: $transition_duration;

	&.lazy {
		opacity: 0;
	}
}

.front-page-hero__innerContainer {
	position: relative;
	text-align: center;

	@include from(850) {
		text-align: left;
	}
}

.front-page-hero__occupation {
	color: $light_content_color;
	text-transform: uppercase;
	display: block;
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 13px;
	position: relative;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 2.5);

		&:before {
			transition: $transition_duration calc(#{$transition_duration} * 3);
		}
	}

	@include from(850) {
		font-size: 14px;
		padding-left: 20px;
	}

	&:not(.wait-for-animation):before {
		@include from(850) {
			opacity: 1;
			transform: translateY(-50%);
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%) translateX(-30px);
		width: 10px;
		height: 2px;
		background-color: $sd_theme_color;
		opacity: 0;
	}
}

.front-page-hero__heading {
	margin: 0 0 30px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 32px;
	line-height: 1.25;
	max-width: 900px;
	font-weight: 800;

	&.animation-delay {
		transition: $transition_duration $transition_duration;
	}

	@include from(850) {
		font-size: 45px;
		margin-top: -5px;
	}

	@include from(950) {
		font-size: 52px;
	}
}

.front-page-hero__headingExclamation {
	color: $theme_color;
	padding-left: 5px;
	display: inline-block;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 1.5);
	}

	@include from(1100) {
		padding-left: 10px;
	}
}

.front-page-hero__subheading {
	margin: 0 auto 30px;
	color: $light_content_color;
	font-size: 18px;
	max-width: 750px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 2);
	}

	@include from(850) {
		margin: 0 0 40px;
		font-size: 20px;
		line-height: 1.7;
	}
}

.front-page-hero__subheadingUnderline {
	text-decoration: underline;
	color: $white;
}

.front-page-hero__link {
	padding: 12px 17px;
	margin: 10px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 3.5);
	}

	@include from(850) {
		padding: 15px 20px;
		margin: 0;

		&:last-child {
			margin-left: 20px;
		}
	}
}
