/*--------------------------------------------------------------
-- Front page portfolio --
--------------------------------------------------------------*/

.front-page-portfolio {
	@include section_padding;
}

.front-page-portfolio__header {
	@include front_page_section_header;
}

.front-page-portfolio__heading {
	@include front_page_section_heading;
}

.front-page-portfolio__headingDot {
	@include front_page_section_heading_dot;
}

.front-page-portfolio__subheading {
	@include front_page_section_subheading;
}

.front-page-portfolio__item {
	margin-bottom: 30px;

	@include from(750) {
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;

		&.even {
			flex-direction: row-reverse;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.front-page-portfolio__imgContainer {
	width: 100%;
	margin-bottom: 20px;

	@include from(750) {
		width: 370px;
		margin-bottom: 0;
	}

	@include from(850) {
		width: 470px;
	}

	@include from(950) {
		width: 550px;
	}

	@include from(1100) {
		width: 650px;

		&.even {
			margin-right: -100px;

			.front-page-portfolio__img.lazy {
				transform: translateX(-100px);
			}
		}

		&.odd {
			margin-left: -100px;

			.front-page-portfolio__img.lazy {
				transform: translateX(100px);
			}
		}
	}

	@include from(1200) {
		width: 800px;

		&.even {
			margin-right: -200px;

			.front-page-portfolio__img.lazy {
				transform: translateX(-200px);
			}
		}

		&.odd {
			margin-left: -200px;

			.front-page-portfolio__img.lazy {
				transform: translateX(200px);
			}
		}
	}
}

.front-page-portfolio__img {
	display: block;
	transition-duration: calc(#{$transition_duration} * 2);

	&.lazy {
		opacity: 0;
	}
}

.front-page-portfolio__contentContainer {
	text-align: center;

	@include from(750) {
		width: calc(100% - 400px);
		align-self: center;
		text-align: left;
	}

	@include from(850) {
		width: calc(100% - 500px);
	}

	@include from(950) {
		width: calc(100% - 600px);
	}

	@include from(1100) {
		width: calc(100% - 620px);
	}

	@include from(1200) {
		width: calc(100% - 680px);
	}
}

.front-page-portfolio__shortDescription {
	text-transform: uppercase;
	font-size: 12px;
	margin: -3px 0 0;
	display: block;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 2);
	}
}

.front-page-portfolio__title {
	margin: 0 0 23px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 30px;
	position: relative;

	&.animation-delay {
		transition: $transition_duration $transition_duration;

		&:after {
			transition: $transition_duration calc(#{$transition_duration} * 2);
		}
	}

	@include from(750) {
		font-size: 36px;
	}

	&:not(.wait-for-animation):after {
		width: 15px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translatex(-50%);
		height: 2px;
		width: 0;
		background-color: $theme_color;

		@include from(750) {
			left: 0;
			transform: none;
		}
	}
}

.front-page-portfolio__excerpt {
	margin: 0 0 15px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 2.5);
	}
}

.front-page-portfolio__more {
	text-decoration: underline;
	color: $heading_color;
	overflow: hidden;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	background-color: transparent;
	padding: 0;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 2.5);
	}

	&:hover {
		color: $theme_color;
	}

	@include from(750) {
		margin: 0;
	}
}

.front-page-portfolio__descriptions {
	transition-duration: $transition_duration;
}

.front-page-portfolio__descriptions--height {
	height: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
}

.front-page-portfolio__description {
	margin-bottom: 0;

	&:first-child {
		margin-top: 0;
	}
}

.front-page-portfolio__linksItem {
	margin: 0 3px 6px;
	font-size: 13px;
	padding: 4px 7px 3px;

	@include from(750) {
		margin: 0 6px 6px 0;
	}
}

.front-page-portfolio__technologies {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 16px;
	margin-top: 20px;
	@include pseudo_animated_line;

	@include from(750) {
		justify-content: flex-start;
	}
}

.front-page-portfolio__technologiesTitle {
	width: 100%;
	color: $heading_color;
	font-size: 14px;
	margin: 0 0 10px;
	font-weight: 600;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 3);
	}
}

.front-page-portfolio__technologiesItem {
	margin: 0 8px 8px 0;
	font-size: 13px;
	text-decoration: underline;
	padding-left: 8px;
	position: relative;

	&.animation-delay {
		@for $i from 1 through 9 {
			&:nth-child(#{$i}) {
				transition: $transition_duration calc(#{$transition_duration} * #{$i} / 2);
			}
		}
	}

	&:before {
		content: '+';
		position: absolute;
		top: 0;
		left: 0;
		color: $theme_color;
	}
}

.front-page-portfolio__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;

	@include from(750) {
		justify-content: flex-start;
	}
}

.front-page-portfolio__linksTitle {
	width: 100%;
	color: $heading_color;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 10px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 3);
	}
}

.front-page-portfolio__linksItem {
	padding: 7px 12px 5px;

	&.animation-delay {
		transition: $transition_duration calc(#{$transition_duration} * 4);
	}
}
